@model IEnumerable<Porfi.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<h1>Index</h1>


<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Testimonials</h6>
        <p>
            <a asp-action="Create" class="btn btn-success m-2">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Avatar)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th  scope="col">
                        @Html.DisplayNameFor(model => model.Star)
                    </th>
                    <th style="min-width:300px" scope="col">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@(count++)</th>
                        <td>
                            <img style="width:100px;border-radius:15px" src="~/images/@item.Avatar" alt="Alternate Text" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Star)
                        </td>
                        <td>
                            <a class="btn btn-warning m-2 "asp-area="AdminPanel"  asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a class="btn btn-primary m-2"  asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger m-2" asp-area="AdminPanel" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>